*.mp4
*.bin
*.pyc
*.zarr
universal_manipulation_interface
password.txt
checkpoints
output_tmp
*.zip
*.jpg
*.out
tp/*
output 
third-party/hamer/*
output_proc
librealsense
wandb/*
platform-tools-latest-linux
*.svo2
data/*
human_data/work_dirs/*
*.pyc
human_data/ProPainter/weights/*
human_data/propainter_weights/*
real/teleop/robot_img/*
real/teleop/video_img/*
human_data/human_data_inpaint/*
*.png
wandb/*
outputs_finetune/*
outputs/*
finetune_outputs/*
third-party/lerobot
third-party/mmcv
third-party/roboengine
third-party/manopth
third-party/IsaacGymEnvs
third-party/IsaacGym_Preview_4_Package.tar.gz
third-party/isaacgym
third-party/EgoHOS
third-party/ops
robotseg/
roboengine/
*.npz
*.pkl
outputs_dino*